extends ../layout/main.pug

block style
    link(rel="stylesheet", href="/css/form.css")

block content
    h1= (editMode) ? 'Edit product' : 'Add product'
    .form-wrapper
        form(action=(editMode ? `/admin/edit-product` : '/admin/add-product'), method="POST", class="add-product form-data" enctype="multipart/form-data")
            input(type="hidden", name="_csrf", value=csrfToken)
            label(for='product-title') Product title
            input#product-title(
                type='text'
                required
                name='title'
                autocomplete='off'
                value=(editMode ? product.title : '')
            )

            if (editMode)
                img(src=`/${product.imageUrl}`, alt="", srcset="")
            .file-input
                label(for='product-image') Product image
                input#product-image(
                    type='file' 
                    required 
                    name='image' 
                )

            label(for='product-description') Product description
            input#product-description(
                type='text' 
                name='description' 
                autocomplete='off' 
                value=(editMode ? product.description : '')
            )

            label(for='product-price') Product price
            input#product-price(
                type='number' 
                step='0.01' 
                required 
                name='price' 
                autocomplete='off' 
                value=(editMode ? product.price : '')
            )

            if editMode
                input(type="hidden" name="productId" value=product._id)
            button(type='submit')= (editMode) ? 'Update' : 'Add'
