extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 All product
    .product-list
        if products && products.length
            .grid
                each product in products
                    .card
                        img(src=product.imageUrl alt="Image" style='width:100%')
                        h1 #{product.title}
                        p.price $#{product.price}
                        p #{product.description}
                        p
                            a(href=`/admin/edit-product/${product._id}` class="button button-green") Edit
                            form(action="/admin/delete-product" method="POST")
                                input(type="hidden", name="productId" value=product._id)
                                button(type="submit" class="button-red") Delete 
        else
            h2 No product found.