extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block javascript
    script(src="/js/admin.js") 

block content
    h1 All product
    .product-list
        if paginationData.items && paginationData.items.length
            .grid
                each product in paginationData.items
                    .card
                        img(src=`/${product.imageUrl}` alt="Image" style='width:100%')
                        h1 #{product.title}
                        p.price $#{product.price}
                        p #{product.description}
                        p
                            a(href=`/admin/edit-product/${product._id}` class="button button-green") Edit
                            input(type="hidden", name="_csrf", value=csrfToken)
                            input(type="hidden", name="productId" value=product._id)
                            button(type="submit" class="button-red" onclick="deleteProduct(this)") Delete
            include ../partials/pagination
        else
            h2 No product found.
