extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 Your cart
        if (cartData.items && cartData.items.length > 0)
            .product-list
                .grid
                    each cartItem in cartData.items
                        .card
                            img(src=`${cartItem.productId.imageUrl}` alt="Image" style='width:100%')
                            h6.product-title #{cartItem.productId.title}($#{cartItem.productId.price})
                            p.price Quantity: #{cartItem.quantity}
                            p
                                form(action="/delete-cart-item" method="POST")
                                    input(type="hidden", name="productId" value=cartItem.productId._id)
                                    button(type="submit" class="button-red") Remove
            .order-form
                h5 Total amount: $#{cartData.totalPrice}
                form(action="/create-order", method="post")
                    button(type="submit" class="button button-blue") Order now!
        else
            p Nothing here
