extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 Your cart
        if (cartData && cartData.Products.length)
            .product-list
                .grid
                    each productItem in cartData.Products
                        .card
                            img(src=`${productItem.imageUrl}` alt="Image" style='width:100%')
                            h6.product-title #{productItem.title}($#{productItem.price})
                            p.price Quantity: #{productItem.CartItem.quantity}
                            p
                                form(action="/delete-cart-item" method="POST")
                                    input(type="hidden", name="productId" value=productItem.id)
                                    button(type="submit" class="button-red") Remove
            .order-form
                h5 Total amount: $#{cartData.totalPrice}
                form(action="/create-order", method="post")
                    button(type="submit" class="button button-blue") Order now!
        else
            p Nothing here
