extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 Your cart
        if (cartData.products.length)
            h3 Total amount: $#{cartData.totalPrice}
            .product-list
                .grid
                    each cartItem in cartData.products
                        .card
                            img(src=`${cartItem.product.imageUrl}` alt="Image" style='width:100%')
                            h1 #{cartItem.product.title}($#{cartItem.product.price})
                            p.price Quantity: #{cartItem.quantity}
                            p
                                form(action="/delete-cart-item" method="POST")
                                    input(type="hidden", name="productId" value=cartItem.product.id)
                                    button(type="submit" class="button-red") Remove 
        else
            p Nothing here
